{# app/Resources/views/lucky/number.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}
    Welcome to My Lucky Numers! :)
{% endblock %}

{% block body %}
    <h3>Lucky Numbers: {{ luckyNumberList }}</h1>
{% endblock %}
